.card-background{
    color:rgba(128, 128, 128, 0.333)
}
.card{
    background-image: url("https://media.istockphoto.com/id/1001279256/vector/technology-network-background.jpg?s=1024x1024&w=is&k=20&c=KDDuQ3bavEP0KhgW4GhbWFZy8UDj0E29z0JIoR6eURI=");
    height: 100vh;
    background-size:cover;
}

.paragraph{
    font-size:24px;
    font-family:"roboto";
    font-weight: bold;
    margin-left: 50px;
    padding:20px;
    color:#ffffff;
}

.input-elements{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;   
}
.each-element{
    display:flex;
    flex-direction: column;
    margin: 20px; 
}
.label-ele{
    color:white;
    font-size:18px;
    font-weight: bold;
}
.input-ele{
    height: 5vh;
    width: 20vw;
    font-size:15px;
}
.submit-btn{
    margin-left: 50%;
    height: 5vh;
    width: 9vw;
    font-size:18px;
    color:white;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
}
